@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Playfair+Display&family=Poiret+One&family=Prata&family=Tektur:wght@500&family=Unbounded&display=swap');

.tour_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px groove;
  cursor: default;
  }

.tour_list {
    border: groove 3px;
}
tr:hover {
    background-color: aliceblue;
}
caption {
  font-size: 12pt;
  font-family: 'Unbounded', sans-serif;
}

.tour_table th:first-child, .tour_table td:first-child {
  justify-content: center;
  align-items: center;
  text-align: center;
}






