/*------шрифты---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
/*---варианты шрифтов-------
font-family: "Manrope", sans-serif;
font-family: "Merriweather", serif;
font-family: "Oswald", sans-serif;
-----------------------------------------------*/

/*------------ Основной стиль-----------------*/
body {
}
.upper_container {
  display: flex;
  height: 100px;
  width: 100%;
  padding-bottom: 2px;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.img_logo {
  margin-right: auto;
  margin-left: 0em;
  margin-left: 0;
  height: 100px;
  width: 230px;
}
.img_logo_inside {
  height: 100px;
  width: 230px;
}
.info_block_container {
  margin-top: 20px;
  position: relative;
  justify-content: center;
  border: groove 2px;
  border-radius: 10px;
  height: 80px;
  width: 75%;
  right: 0;
  text-align: center;
  box-shadow: 0px 3px 5px 1px rgba(84, 84, 84, 0.3);
  stroke: #ECEAFF;
}
.info_block{
  font-size: 20pt;
  margin-top: 25px;
  letter-spacing: 1px;
  font-weight: 300;
  opacity: 0.8;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  vertical-align: middle;
  color: #122120;
  transition: all 1s;
  text-transform: uppercase;
}
.user_block {
  margin-top: 20px;
  border: groove 2px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 0em;
  height: 80px;
  width: 12%;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  box-shadow: 0px 3px 5px 1px rgba(84, 84, 84, 0.3);
  stroke: #ECEAFF;
}
.info_reciever {
  transition: all 0.5s ease 0s;
}
/*-------меню---------------*/
.menu_container {
  border-left: 0;
  border-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main_menu {
  margin: 20px auto 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: #009995;
  border-radius: 5px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}
.main_menu ul {
  list-style: none; /* Убираем маркер для элементов списка */
  display: flex; /* Горизонтальное расположение пунктов меню */
}
.main_menu li {
  margin-right: 0; /* Отступ между пунктами меню */
}
.main_menu a {
  line-height: 40px;
  height: 100%;
  width: 140px;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  stroke: #337AB7;
  border-left: 3px solid #A8B4C7;
  font-family: "Orelega One", serif;
}
.main_menu a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;/*задаём длинну линии до наведения курсора*/
  height: 3px; /*задаём ширину линии*/
  background-color: #aa1a30; /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.main_menu a:hover:after,
.main_menu a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.main_menu a:hover {
  transition: all 0.1s ease 0s;
  stroke: #337AB7;
  border-left: 3px solid;
  background-color: #37aba7;
}
.main_menu a:focus {
}
.main_menu a:active {
  color: #C9CFDA; /* Новый цвет текста при нажатии */
}

/*------------------a--------------*/
.user_type_container {
  height: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}
.main_user_type {
  margin-top: 10px;
  font-size: 14pt;
  font-family: "Merriweather", serif;
  font-weight: 600;
  color: #EAEBFF;
  font-style:inherit;
  height: 24px;
  width: 300px;
  text-align: center;
  border-radius: 3px;
  background-color: #1d5957;
  cursor:default;
  text-transform: uppercase;
  box-shadow: 0px 3px 5px 1px rgba(84, 84, 84, 0.3);
  stroke: #ECEAFF;
}
.middle_container {
  display: block;
  height: 900px;
  width: 100%;
  text-align: center;
  item-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.bottom_container {
  display: none;
  position: absolute;
  border: groove 3px;
  width: 99%;
  text-align: center;
}
.info_reciever {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/*-----------Стиль кнопки пользователя*------------*/
.UserLoginBtn, .LogOut {
  margin: 0 auto;
  border: 1px solid transparent;
  cursor: default;
  padding-top: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 130px;
}
.UserLoginBtn:hover, .LogOut:hover {
  border: 1px solid;
  border-radius: 5px;
  background-color: #c2cee7;
  color: rgb(88, 68, 68);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: absolute;
  text-decoration: none;
}
/*------------------------------------------------*/
/*------Модальный фон--------------------------------------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*----------------------------------------------------------------------------*/
/*--------------Стиль новый тур, настройки и резерва----------------------------------------------*/
.ModalWindow {
  position: relative;
  background-color: aliceblue;
  margin: auto;
  padding: 0;
  border-radius: 5px;
  width: 500px;
  height: 700px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.ModalInfoBlock {
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 15px;
  font-family: "Merriweather", serif;
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ModalWindowHeader {
  font-family: "Merriweather", serif;
  padding: 2px 16px;
  background-color: #009995;
  color: white;
}
/*---------------------------------------------------*/
/*---Анимация для модального фона--------------------*/
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/*-------------------------------------------------------*/
/*-----------Окно настройки пользователя------------------------------*/

/*-------------------------------------------------------*/
.Test:focus {
  border: solid 1px;
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 120px;
  height: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.footer_container {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  text-align: center;
}
.main_footer {
  font-family: "Merriweather", serif;
  opacity: 0.6;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: #009995	;
  border-radius: 5px;
  padding-top: 5px;
  color: #e1f4f2;
  letter-spacing: 1px;
}
.main_footer:hover {
  cursor: default;
}