@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Playfair+Display&family=Poiret+One&family=Prata&family=Tektur:wght@500&family=Unbounded&display=swap');
/* Образцы шрифтов
font-family: 'Alegreya', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poiret One', sans-serif;
font-family: 'Prata', serif;
font-family: 'Tektur', sans-serif;
font-family: 'Unbounded', sans-serif;
*/
.main_container {
  height: 100%;
  width: 100%;
}
.main_form {
  height: 800px;
  text-align: center;
}
.login_label {  
  font-size: 14pt;
  font-family: 'Tektur', sans-serif;
}
.login_input {
  border: thick double #fff;
  border-radius: 10px;
  height: 300px;
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 12pt;
  background-color:rgb(199, 197, 221);
  font-family: 'Tektur', sans-serif;
}
.login, .pass {
  width: 300px;
  height: 30px;
  font-size: 12pt;
  border-radius: 3px;
  font-family: 'Tektur', sans-serif;
}
.but_in {
  margin-top: 10px;
  height: 30px;
  width: 100px;
  border-radius: 3px;
  font-family: 'Tektur', sans-serif;
}
.footer_container {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  text-align: center;
}
.main_footer {
  font-family: 'Unbounded', sans-serif;
}