.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px groove;
  cursor: default;
  }

.users_table {
    border: groove 3px;
}
tr:hover {
  background-color: aliceblue;
}
.add_new_user {
  border: 1px solid transparent;
  cursor: default;
  width: 250px;
}
.add_new_user:hover {
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(202, 193, 235);
  color: rgb(88, 68, 68);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: absolute;
  text-decoration: none;
}
.add_person:hover {
  transform: translateY(-3px);
  box-shadow: 0px 7px 10px 1px rgba(84, 84, 84, 0.5);
  stroke: #337AB7;
  transition: all 0.5s ease 0s;
}






