<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список всех туристов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_tourist_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
</head>
<body>

<p></p>
<div>
    <table class="tourist_table">
        <caption>
            Список туристов
            <p></p>
        </caption>
        <thead>
        <tr>
            <th style="width: 100px; margin: auto;" class="tourist_list">Действие</th>
            <th style="width: 400px;" class="tourist_list">ФИО туриста</th>
            <th style="width: 150px;" class="tourist_list">Дата рождения</th>
            <th style="width: 150px;" class="tourist_list">Статус</th>
            <th style="width: 150px;" class="tourist_list">ИИН</th>
            <th style="width: 150px;" class="tourist_list">Паспорт</th>
            <th style="width: 150px;" class="tourist_list">Телефон</th>
            <th style="width: 150px;" class="tourist_list">Логин</th>
            <th style="width: 150px;" class="tourist_list">Пароль</th>
            <th style="width: 150px;" class="tourist_list">Активность</th>
            <th style="width: 50px;" class="tourist_list">ID</th>
        </tr>
        </thead>
        <tbody id="all_tourist_list">
        {% for i in TouristData %}
        <tr>
            <td class="tourist_list"> <div></div></td>
            <td class="tourist_list">{{i.TouristName}}</td>
            <td class="tourist_list">{{i.TouristBirth}}</td>
            <td class="tourist_list">{{i.StatusPay}}</td>
            <td class="tourist_list">{{i.TouristIIN}}</td>
            <td class="tourist_list">{{i.TouristPassNumber}}</td>
            <td class="tourist_list">{{i.TouristTel}}</td>
            <td class="tourist_list">{{i.TouristLogin}}</td>
            <td class="tourist_list">{{i.TouristPass}}</td>
            <td class="tourist_list">{{i.TouristLastLogin}}</td>
            <td class="tourist_list">{{i.id}}</td>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <p>Количество туристов:  <span>{{Len}}</span></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/all_tourist_list.js' %}"></script>


</body>
</html>