<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кабинет бухгалтера</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cabinet_style.css' %}">

</head>

<body class="body">
    <div class="upper_container">
        <div class="img_logo">
            <img src="/static/img/logo.png" class="img_logo_inside" alt="">
        </div>
        <div class="info_block_container">
            <div class="info_block">
                Туристическо-информационная система Mihrab Travel.
            </div>
        </div>

        <div class="user_block">
            <p class="UserLoginBtn" id="UserWindowBtn"> Логин:{{session_login}}</p>
            <div id="LogOut" class="LogOut">Выйти</div>
        </div>
    </div>
<!------------Меню сайта ----------------------------------->
    <div class="menu_container">
        <nav class="main_menu">
            <ul>
                <li><a href="#" id="ClientsBtn">Клиенты</a></li>
            </ul>
        </nav>

    </div>
<!-------------------------------------------------------------->
<!------------Инфо о странице ----------------------------------->
    <div class="user_type_container">
        <div class="user_type"> БУХГАЛТЕР </div>
    </div>
<!-------------------------------------------------------------->
<!------------Основной блок ----------------------------------->
    <div class="middle_container">
        <div id="info_reciever">Добро пожаловать</div>
    </div>
<!-------------------------------------------------------------->
<!------------Подвал сайта ----------------------------------->
    <div class="footer_container">
        <div class="main_footer">MIHRAB TRAVEL - 2024</div>
    </div>
<!-------------------------------------------------------------->
<!------------Модальное окно информации ----------------------------------->
    <div id="ModalWindow" class="modal">
        <div class="ModalWindow">
            <div class="ModalWindowHeader" id="InfoHead">
                <span class="close">&times;</span>
                <h2>Информация</h2>
            </div>
            <div id="ModalInfoBlock" class="ModalInfoBlock"> Пусто</div>
        </div>
    </div>
<!-------------------------------------------------------------->

    <!------ Добавляем JQuery и JS файл страницы----->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/cabinet_buhgalter.js' %}"></script>
<!-------------------------------------------------------------->

</body>
</html>