<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Кабинет администратора</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cabinet_admin.css' %}">

</head>

<body class="body">
    <div class="upper_container">
        <div class="img_logo">
            <img src="/static/img/logo.png" class="img_logo_inside" alt="">
        </div>
        <div class="info_block_container">
            <div class="info_block">
                Туристическо-информационная система Mihrab Travel.
            </div>
        </div>
        
        <div class="user_block">
            <p class="UserLoginBtn" id="UserWindowBtn"> Логин:  {{session_login}} </p>
            <div id="LogOut" class="LogOut">Выйти</div>
        </div>
    </div>
<!------------Меню сайта ----------------------------------->
    <div class="menu_container">
        <div id="NewTourBtn" class="menu_1">Новый тур</div>
        <div id="ActiveTourBtn" class="menu_2"> Активные туры </div>
        <div id="UsersBtn" class="menu_3"> Пользователи </div>
        <div id="GidBtn" class="menu_4">Гиды</div>
        <div id="Hotels" class="menu_5">Гостиницы</div>
        <div id="Transfer" class="menu_6">Трансфер</div>
        <div id="ClientsList" class="menu_7">Список туристов</div>
        <!--
        <div id="Settings" class="menu_8">Настройки</div>
        -->
    </div>
<!-------------------------------------------------------------->
<!------------Инфо о странице ----------------------------------->
    <div class="user_type_container">
        <div id="user_type_label" class="user_type">Кабинет администратора</div>
    </div>
<!-------------------------------------------------------------->
<!------------Основной блок ----------------------------------->
    <div class="middle_container">
        <div id="hello_text" name="hello_text">Добро пожаловать</div>
        <div id="info_reciever" class="info_reciever" name="info_reciever"></div>
    </div>
<!-------------------------------------------------------------->
<!------------Подвал сайта ----------------------------------->
    <div class="bottom_container">Mihrab Travel 2024</div>
<!-------------------------------------------------------------->
<!------------Модальное окно информации ----------------------------------->
    <div id="ModalWindow" class="modal">
        <div class="ModalWindow">
            <div class="ModalWindowHeader" id="InfoHead">
                <span class="close">&times;</span>
                <h2>Информация</h2>
            </div>
            <div id="ModalInfoBlock" class="ModalInfoBlock"> Пусто</div>
        </div>
    </div>
<!-------------------------------------------------------------->

    <!------ Добавляем JQuery и JS файл страницы----->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/cabinet_admin.js' %}"></script>
<!-------------------------------------------------------------->

</body>
</html>