<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hotel_regist_page.css' %}">
    <title>Добавление гостиницы</title>
</head>
<body>
<div class="hotel_form">
      <form method="post" id="HotelForm" action="">
          {% csrf_token %}
          <div class="hotel_input">
              <div class="hotel_label">Введите данные гостиницы</div>
              <p></p>
              <input type="text" name="hotel_name" placeholder="{{hotel_name}}" id="hotel_name" class="hotel_name" required>
              <input type="text" name="hotel_city" placeholder="{{hotel_city}}" id="hotel_city" class="hotel_city" >
              <input type="text" name="hotel_stars" placeholder="{{hotel_stars}}" id="hotel_stars" class="hotel_stars" >
              <input type="text" name="hotel_info" placeholder="{{hotel_info}}" id="hotel_info" class="hotel_info" >
              <input type="submit" name="hotel_regist" id="hotel_regist" value="Сохранить" class="hotel_regist">
          </div>
      </form>
</div>
    <script type="text/javascript" src="{% static 'js/hotel_regist_page.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>