<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/test_form.css' %}">
</head>
<body>

    <form action="process_selection.php" method="post">
        <select name="selected_options[]" multiple>
            <option value="option1">Вариант 1</option>
            <option value="option2">Вариант 2</option>
            <option value="option3">Вариант 3</option>
            <!-- Добавьте другие варианты по вашему усмотрению -->
        </select>
        <input type="submit" value="Отправить">
    </form>








    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/test_form.js' %}"></script>

</body>
</html>