<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание нового тура</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tour_create_page.css' %}">
</head>
<body>
<div class="TourCreatePage">
    <form method="post" id="NewTourForm" action="">
        <div class="label">
            <p class="label-p" style="text-align: center;">Введите данные нового тура!</p>
        </div>
        {% csrf_token %}
        <div class="NewTourData">
            <label for="TourContainer_1" class="container_label">Выберите рейс:</label>
            <p></p>
            <div id="TourContainer_1" class="TourContainer_1">
                <select id="FlightType" name="FlightType" class="FlightType" required>
                    <option value="C пересадкой">С пересадкой</option>
                    <option value="Прямой рейс">Прямой рейс</option>
                </select>
                <input type="text" name="PaketName" placeholder="Название пакета" id="PaketName" class="PaketName" required>
                <input type="text" name="TourRoute" placeholder="Маршрут" id="TourRoute" class="TourRoute" required>
                <p></p>
            </div>
            <label for="FlightToContainer" class="container_label">Туда: </label>
            <p></p>
            <div id="FlightToContainer" class="FlightToContainer">
                <label for="DepartureFromOrigin"> Вылет: </label>
                <input type="datetime-local" name="DepartureFromOrigin" id="DepartureFromOrigin" class="DepartureFromOrigin" required>
                <label for="TransitToArrival" id="lab_transit_1">Пересадка: </label>
                <input type="datetime-local" name="TransitToArrival" id="TransitToArrival" class="TransitToArrival" required>
                <input type="datetime-local" name="TransitToDeparture" id="TransitToDeparture" class="TransitToDeparture" required>
                <label for="ArrivalDestination">Прилет: </label>
                <input type="datetime-local" name="ArrivalDestination" id="ArrivalDestination" class="ArrivalDestination" required>
                <p id="wait_lab_1">Ожидание (<span id="site_time">{{SettingsData.TimeInfo}}</span>):
                    <span id="WaitingTimeTo" class="WaitingTimeTo">0</span>
                </p>
            </div>
            <label for="FlightFromContainer" class="container_label">Обратно: </label>
            <p></p>
            <div id="FlightFromContainer" class="FlightFromContainer">
                <label for="DepartureFromDestination"> Вылет: </label>
                <input type="datetime-local" name="DepartureFromDestination" id="DepartureFromDestination" class="DepartureFromDestination" required>
                <label for="TransitFromArrival" id="lab_transit_2">Пересадка: </label>
                <input type="datetime-local" name="TransitFromArrival" id="TransitFromArrival" class="TransitFromArrival" required>
                <input type="datetime-local" name="TransitFromDeparture" id="TransitFromDeparture" class="TransitFromDeparture" required>
                <label for="ArrivalOrigin">Прилет: </label>
                <input type="datetime-local" name="ArrivalOrigin" id="ArrivalOrigin" class="ArrivalOrigin" required>
                <p id="wait_lab_2">Ожидание (<span>{{SettingsData.TimeInfo}}</span>):
                    <span id="WaitingTimeFrom" class="WaitingTimeFrom">0</span>
                </p>
            </div>
            <label for="FlightFromContainer" class="container_label">Авиакомпания: </label>
            <p></p>
            <div id="FlightCompanyContainer" class="FlightCompanyContainer">
                <label for="AirlineChoose"> Выберите авиакомпанию: </label>
                <select id="AirlineChoose" name="AirlineChoose" class="AirlineChoose" required>
                    {% for i in AirlineData %}
                    <option value="{{i.AirlineName}}">{{i.AirlineName}}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="TourContainer_2" class="container_label"> Данные тура:</label>
            <p></p>
            <div id="TourContainer_2" class="TourContainer_2">
                <input type="number" name="TouristQuantity" placeholder="Количество мест" id="TouristQuantity" class="TouristQuantity" required>
                <br>
                <label for="HotelMekka"> Отель в Мекке: </label>
                <select id="HotelMekka" name="HotelMekka" class="HotelMekka" required>
                    {% for i in HotelData %}
                    <option value="{{i.HotelName}}">{{i.HotelName}}</option>
                    {% endfor %}
                </select>
                <div id="Mekka_days_container" class="Mekka_days_container">
                    <label for="HotelMekkaIn"> Заезд: </label>
                    <input type="datetime-local" name="HotelMekkaIn" id="HotelMekkaIn" class="HotelMekkaIn" required>
                    <label for="HotelMekkaOut"> Выезд: </label>
                    <input type="datetime-local" name="HotelMekkaOut" id="HotelMekkaOut" class="HotelMekkaOut" required>
                    <span>Дни:
                        <span id="MekkaHotel_Days" class="MekkaHotel-Days">0</span>
                    </span>
                </div>
                <br>
                <label for="HotelMedina"> Отель в Медине: </label>
                <select id="HotelMedina" name="HotelMedina" class="HotelJidda" required>
                    {% for i in HotelData %}
                    <option value="{{i.HotelName}}">{{i.HotelName}}</option>
                    {% endfor %}
                </select>
                <div id="Medina_days_container" class="Medina_days_container">
                    <label for="HotelMedinaIn"> Заезд: </label>
                    <input type="datetime-local" name="HotelMedinaIn" id="HotelMedinaIn" class="HotelMedinaIn" required>
                    <label for="HotelMedinaOut"> Выезд: </label>
                    <input type="datetime-local" name="HotelMedinaOut" id="HotelMedinaOut" class="HotelMedinaOut" required>
                    <span>Дни:
                        <span id="MedinaHotel_Days" class="MedinaHotel-Days">0</span>
                    </span>
                </div>
                <br>
                <label for="FoodChoose"> Выберите питание: </label>
                <select id="FoodChoose" name="FoodChoose" class="FoodChoose" required>
                    <option value="RO">RO - Room Only</option>
                    <option value="BB">BB - Bed&Breakfast</option>
                    <option value="HB">HB - Half board</option>
                    <option value="FB">FB - Full board</option>
                    <option value="AI">AI - All inclusive</option>
                </select>
                <span>-----</span>
                <label for="RoomChoose"> Выберите размешение: </label>
                <select id="RoomChoose" name="RoomChoose" class="FoodChoose" required>
                    <option value="SGL">SGL - Single</option>
                    <option value="DBL">DBL - Double</option>
                    <option value="TRP">TRP - Triple</option>
                    <option value="QDR">QDR - Quadro</option>
                </select>
                <br>
                <br>

                <label for="GidChoose">  Выбор гида: </label>
                <select id="GidChoose" name="GidChoose" class="GidChoose" required>
                    {% for i in GidData %}
                    <option value="{{i.GidName}}">{{i.GidName}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="TransferChoose">Выбор трансфера:</label>
                <select id="TransferChoose" name="TransferChoose" class="TransferChoose" required>
                    {% for i in TransferData %}
                    <option value="{{i.TransportType}}">{{i.TransportType}}</option>
                    {% endfor %}
                </select>
                <span>-----><span id="TransferChooseCombo">111</span></span>

            </div>
            <label for="DeadlineContainer" class="container_label"> Срок регистрации туристов: </label>
            <p></p>
            <div id="DeadlineContainer" class="DeadlineContainer">
                <input type="datetime-local" name="TourDeadline" id="TourDeadline" class="TourDeadline" required>
            </div>
            <label for="PriceContainer" class="container_label">Формирование цен <span id="site_currency">{{SettingsData.CurrencyInfo}}</span>:</label>

            <p></p>
            <div id="PriceContainer" class="PriceContainer">
                <span>Основные:</span> <br>
                <input type="number" placeholder="Авиабилет" name="FlightTicketPrice" id="FlightTicketPrice" class="FlightTicket" required>
                <input type="number" placeholder="Виза туриста" name="TouristVisaPrice" id="TouristVisaPrice" class="TouristVisa" required>
                <input type="number" placeholder="Отель в Мекке" name="MekkaHotelPrice" id="MekkaHotelPrice" class="PriceMekkaHotel" required>
                <input type="number" placeholder="Отель в Медине" name="MedinaHotelPrice" id="MedinaHotelPrice" class="PriceMedinaHotel" required>
                <input type="number" placeholder="Трансфер" name="TransferPrice" id="TransferPrice" class="Transfer" required>
                <input type="number" placeholder="Хадж набор" name="HadjKitPrice" id="HadjKitPrice" class="HadjKit" required>
                <input type="number" placeholder="Гид" name="GidPrice" id="GidPrice" class="Gid" required>
                <input type="number" placeholder="Комиссия" name="Comission" id="Comission" class="Comission" required>
                <input type="number" placeholder="Скидка" name="TourDiscount" id="TourDiscount" class="TourDiscount" required>
                <p></p>
                <span>Питание:</span>
                <br>
                <input type="number" placeholder="RO - Room Only" name="FlightTicketPrice" id="FoodPrice_RO" class="FlightTicket" required>
                <input type="number" placeholder="BB - Bed&Breakfast" name="FlightTicketPrice" id="FoodPrice_BB" class="FlightTicket" required>
                <input type="number" placeholder="HB - Half board" name="FlightTicketPrice" id="FoodPrice_HB" class="FlightTicket" required>
                <input type="number" placeholder="FB - Full board" name="FlightTicketPrice" id="FoodPrice_FB" class="FlightTicket" required>
                <input type="number" placeholder="AI - All inclusive" name="FlightTicketPrice" id="FoodPrice_AI" class="FlightTicket" required>
                <p></p>
                <span>Размешение:</span>
                <br>
                <input type="number" placeholder="Single - SGL" name="FlightTicketPrice" id="RoomPrice_SGL" class="FlightTicket" required>
                <input type="number" placeholder="Double - DBL" name="FlightTicketPrice" id="RoomPrice_DBL" class="FlightTicket" required>
                <input type="number" placeholder="Triple - TRP" name="FlightTicketPrice" id="RoomPrice_TRP" class="FlightTicket" required>
                <input type="number" placeholder="Quadro - QDR" name="FlightTicketPrice" id="RoomPrice_QDR" class="FlightTicket" required>
                <p>Итого:
                <span id="TourSummary" class="TourSummary">0</span>
                    <span>{{SettingsData.CurrencyInfo}}</span>
                </p>

            </div>
            <input type="submit" id="TourRegistBtn" class="TourRegistBtn" value="Создать">
            <p></p>
        </div>
    </form>
</div>
    <script type="text/javascript" src="{% static 'js/tour_create_page.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
</body>
</html>