<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список туристов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tourist_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
</head>
<body>

<p></p>
<div>
    <p>Информация о туре: ID - <span id="tour_id">{{TourData.id}}</span> </p>
    <div id="TourInfoContainer" class="TourInfoContainer">
        <img id="OpenInfo" src="/static/img/OpenBtn.png" class="OpenInfo">
        <img id="CloseInfo" src="/static/img/CloseBtn.png" style="display: none;" class="CloseInfo">
        <div id="TourInfoData" style="display: none;" class="TourInfoData">
            <table>
                <thead>
                <tr>
                    <th style="width: 300px; padding-left: 5px;">
                        Разделы
                    </th>
                    <th style="width: 300px; padding-left: 5px;">
                        Инфо
                    </th>
                    <th style="width: 300px; padding-left: 5px;">
                        Разделы
                    </th>
                    <th style="width: 300px; padding-left: 5px;">
                        Инфо
                    </th>
                </tr>
                </thead>
                <tbody class="InfoTable">
                <tr>
                    <td>
                        Направление рейса
                    </td>
                    <td>
                        {{TourData.FlightType}}
                    </td>
                    <td>
                    Трансфер
                    </td>
                    <td>
                        {{TourData.TransferChoose}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Название пакета
                    </td>
                    <td>
                        {{TourData.PaketName}}
                    </td>
                    <td>
                        Срок последней регистрации
                    </td>
                    <td>
                        {{TourData.TourDeadline}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Маршрут
                    </td>
                    <td>
                        {{TourData.TourRoute}}
                    </td>
                    <td>
                        Цена авиабилета
                    </td>
                    <td>
                        {{TourData.FlightTicketPrice}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата вылета туда
                    </td>
                    <td>
                        {{TourData.DepartureFromOrigin}}
                    </td>
                    <td>
                        Цена визы туриста
                    </td>
                    <td>
                        {{TourData.TouristVisaPrice}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Транзит туда - прилет
                    </td>
                    <td>
                        {{TourData.TransitToArrival}}
                    </td>
                    <td>
                        Цена отеля в Мекке
                    </td>
                    <td>
                        {{TourData.MekkaHotelPrice}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Транзит туда - вылет
                    </td>
                    <td>
                        {{TourData.TransitToDeparture}}
                    </td>
                    <td>
                        Цена отеля в Медина
                    </td>
                    <td>
                        {{TourData.MedinaHotelPrice}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                <td>
                    Дата прилета туда
                </td>
                    <td>
                        {{TourData.ArrivalDestination}}
                    </td>
                    <td>
                        Цена трансфер
                    </td>
                    <td>
                        {{TourData.TransferPrice}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                <td>
                    Ожидание транзит - туда
                </td>
                    <td>
                        {{TourData.WaitingTimeTo}} ({{TourData.TourTime}})
                    </td>
                    <td>
                        Хадж набор
                    </td>
                    <td>
                        {{TourData.HadjKitPrice}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата вылета обратно
                    </td>
                    <td>
                        {{TourData.DepartureFromDestination}}
                    </td>
                    <td>
                        Гид
                    </td>
                    <td>
                        {{TourData.GidPrice}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Транзит обратно - прилет
                    </td>
                    <td>
                        {{TourData.TransitFromArrival}}
                    </td>
                    <td>
                        Комиссия
                    </td>
                    <td>
                        {{TourData.Comission}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Транзит обратно - вылет
                    </td>
                    <td>
                        {{TourData.TransitFromDeparture}}
                    </td>
                    <td>
                        Скидка
                    </td>
                    <td>
                        {{TourData.TourDiscount}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата прилета обратно
                    </td>
                    <td>
                        {{TourData.ArrivalOrigin}}
                    </td>
                    <td>
                        Питание за RO
                    </td>
                    <td>
                        {{TourData.FoodPriceRO}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Ожидание транзит - обратно
                    </td>
                    <td>
                        {{TourData.WaitingTimeFrom}} ({{TourData.TourTime}})
                    </td>
                    <td>
                        Питание за BB
                    </td>
                    <td>
                        {{TourData.FoodPriceBB}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Выбор авиакомпании
                    </td>
                    <td>
                        {{TourData.AirlineChoose}}
                    </td>
                    <td>
                        Питание за HB
                    </td>
                    <td>
                        {{TourData.FoodPriceHB}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Количество туристов
                    </td>
                    <td>
                        {{TourData.GidChoose}}
                    </td>
                    <td>
                        Питание за FB
                    </td>
                    <td>
                        {{TourData.FoodPriceFB}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Отель в Мекке
                    </td>
                    <td>
                        {{TourData.HotelMekka}}
                    </td>
                    <td>
                        Питание за AI
                    </td>
                    <td>
                        {{TourData.FoodPriceAI}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Заезд в отель в Мекке
                    </td>
                    <td>
                        {{TourData.HotelMekkaIn}}
                    </td>
                    <td>
                        Цена за размешение SGL
                    </td>
                    <td>
                        {{TourData.RoomPriceSGL}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Выезд из отеля в Мекке
                    </td>
                    <td>
                        {{TourData.HotelMekkaOut}}
                    </td>
                    <td>
                        Цена за размешение DBL
                    </td>
                    <td>
                        {{TourData.RoomPriceDBL}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Отель в Медина
                    </td>
                    <td>
                        {{TourData.HotelMedina}}
                    </td>
                    <td>
                        Цена за размешение TRP
                    </td>
                    <td>
                        {{TourData.RoomPriceTRP}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Заезд в отель в Медина
                    </td>
                    <td>
                        {{TourData.HotelMedinaIn}}
                    </td>
                    <td>
                        Цена за размешение QDR
                    </td>
                    <td>
                        {{TourData.RoomPriceQDR}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Выезд из отеля в Медина
                    </td>
                    <td>
                        {{TourData.HotelMedinaOut}}
                    </td>
                    <td>
                        Валюта тура
                    </td>
                    <td>
                        {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Выбор питания
                    </td>
                    <td>
                        {{TourData.FoodChoose}}
                    </td>
                    <td>
                        Время тура
                    </td>
                    <td>
                        {{TourData.TourTime}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Выбор размешения
                    </td>
                    <td>
                        {{TourData.RoomChoose}}
                    </td>
                    <td>
                        Итого тура
                    </td>
                    <td>
                        {{TourData.TourSummary}} - {{TourData.TourCurrency}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Выбор гида
                    </td>
                    <td>
                        {{TourData.GidChoose}}
                    </td>
                    <td>
                        Дата создания тура
                    </td>
                    <td>
                        {{TourData.TourCreateDate}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p></p>
    <table class="tourist_table">
         <caption>
             Список туристов
             <p></p>
         </caption>
        <thead>
        <tr>
            <th style="width: 130px; margin: auto;" class="tourist_list">Действие</th>
            <th style="width: 350px;" class="tourist_list">ФИО туриста</th>
            <th style="width: 150px;" class="tourist_list">Дата рождения</th>
            <th style="width: 150px;" class="tourist_list">Адрес туриста</th>
            <th style="width: 150px;" class="tourist_list">ИИН</th>
            <th style="width: 150px;" class="tourist_list">Телефон</th>
            <th style="width: 150px;" class="tourist_list">Оплаченная сумма</th>
            <th style="width: 150px;" class="tourist_list">Долг</th>
            <th style="width: 150px;" class="tourist_list">Статус</th>
            <th style="width: 50px;" class="tourist_list">ID</th>
        </tr>
        </thead>
        <tbody id="tourist_list">
        {% for i in TouristData %}
        <tr>
            <td class="tourist_list"> <div></div></td>
            <td class="tourist_list">{{i.TouristName}}</td>
            <td class="tourist_list">{{i.TouristBirth}}</td>
            <td class="tourist_list">{{i.TouristAdress}}</td>
            <td class="tourist_list">{{i.TouristIIN}}</td>
            <td class="tourist_list">{{i.TouristTel}}</td>
            <td class="tourist_list">{{i.TouristPay}}</td>
            <td class="tourist_list">{{i.TouristDebt}}</td>
            <td class="tourist_list">{{i.StatusPay}}</td>
            <td class="tourist_list">{{i.id}}</td>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <p>Количество туристов:  <span>{{Len}}</span></p>
    <p>Оставщиеся места: <span>{{Seats}} </span></p>
</div>
<p></p>
<span data-tooltip='Добавить туриста' class ='tooltip'><img style="width: 2%; height: 2%;" src="{% static 'img/person_add.png' %}" id="add_new_tourist" class="add_new_tourist"></span>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/tourist_list.js' %}"></script>


</body>
</html>