<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tourist_group_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
    <title>Группа</title>
</head>
<body>
<div class="tourist_form">
      <form method="post" id="TouristGroupForm" action="">
          {% csrf_token %}
          <div class="tourist_input">
              <label for="FirstPerson">Первый турист:</label>
              <span id="FirstPersonSpan" style="font-style: italic;">{{PersonOneName}}</span>
              <input type="text" id="FirstPerson" value="{{TouristData.PersonOne}}" class="FirstPerson">
              <label for="SecondPerson">Второй турист:</label>
              <span id="SecondPersonSpan" style="font-style: italic;">{{PersonTwoName}}</span>
              <input type="text" id="SecondPerson" value="{{TouristData.PersonTwo}}" class="SecondPerson" >
              <label for="ThirdPerson">Третий турист:</label>
              <span id="ThirdPersonSpan"style="font-style: italic;">{{PersonThreeName}}</span>
              <input type="text" id="ThirdPerson" value="{{TouristData.PersonThree}}" class="ThirdPerson" >
              <label for="FourthPerson">Четвертый турист:</label>
              <span id="FourthPersonSpan"style="font-style: italic;">{{PersonFourName}}</span>
              <input type="text" id="FourthPerson" value="{{TouristData.PersonFour}}" class="FourthPerson" >
              <input type="submit" name="tourist_group_btn" id="tourist_group_btn" value="Сохранить" class="tourist_regist">
          </div>
      </form>
</div>
    <script type="text/javascript" src="{% static 'js/tourist_group_page.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>