<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/users_list.css/' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
</head>
<body>

<p></p>
<div>
    <p></p>
    <table class="table">
         <caption>
             Список пользователей
             <p></p>
         </caption>
        <thead>
        <tr>
            <th style="width: 100px;" class="users_table">Действие</th>
            <th style="width: 400px;" class="users_table"> ФИО пользователя</th>
            <th style="width: 150px;" class="users_table">Логин</th>
            <th style="width: 150px;" class="users_table">Тип пользователя</th>
            <th style="width: 150px;" class="users_table">Дата регистрации</th>
            <th style="width: 300px;" class="users_table">Дата последнего входа</th>
            <th style="width: 150px;" class="users_table">Статус</th>
        </tr>
        </thead>
        <tbody id="users_table">
        {% for i in db_data %}
        <tr>
            <td class="users_table"></td>
            <td class="users_table"> {{i.user_name}}</td>
            <td class="users_table">{{i.user_login}}</td>
            <td class="users_table">{{i.user_type}}</td>
            <td class="users_table">{{i.user_regist_date}}</td>
            <td class="users_table">{{i.user_login_date}}</td>
            <td class="users_table">{{i.user_status}}</td>
            {% endfor %}
        </tbody>
        <tfoot>
    <tr>
      <th scope="row" colspan="2">Максимум пользователей</th>
      <td colspan="2">10</td>
    </tr>
  </tfoot>
    </table>
    <p></p>
    <img style="width: 2%; height: 2%;" src="{% static 'img/person_add.png' %}" class="add_person" id="add_new_user">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/users_list.js' %}"></script>
</body>
</html>